@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Roboto', sans-serif !important;
  background-color: rgb(218, 239, 255) !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.form-control{
  font-size: 14px !important;
}
.rbc-calendar{
  background-color: white !important;
  padding: 25px 20px;
  border-radius: 10px;
}